
@media only screen and (min-width 1279px) 
  h1 
    font-size 4em
  
  h2 
    font-size 3em
  
  h3 
    font-size 2em
  
  p 
    font-size 1.6em
  
  #logo 
    left calc(100% - 250px)
    top 100px
  
  #logo img
    width 150px

@media only screen and (min-width 1281px)
  #intro-section
    background-image url("../img/bg-0/lg.jpg")

@media only screen and (min-width 1921px) 
  #intro-section
    background-image url("../img/bg-0/xl.jpg")
  h1 
    font-size 7em
  
  h2 
    font-size 5em
  
  p 
    font-size 3em
  
  div.body .page-section > div 
    width calc(100% - 900px)
    overflow visible
    padding 200px
  
  #logo 
    left calc(100% - 500px)
    top 200px
    img
      width 300px

  div.body #about-section
    div.img-presentation 
      width calc(50% - 100px)
    div.img-presentation:nth-child(odd) 
      padding-right 100px
    div.img-presentation:nth-child(even) 
      padding-left 100px


