
@media only screen and (min-width 1279px) 
  body div.body-container
    background url("img/bg-0/lg.jpg") no-repeat fixed
  #logo 
    left 50px
    top 50px
  #logo img
    width 150px
@media only screen and (min-width 1919px) 
  body div.body-container
    background url("img/bg-0/xl.jpg") no-repeat fixed
  #logo
    left 75px
    top 75px
  #logo img
    width 200px
