
/*
 *	FONTS
 */
h1
  position relative
  font-size 2em
  font-family 'Quicksand', sans-serif
  margin-bottom 10px

h2
  position relative
  font-family 'Quicksand', sans-serif
  font-size 1.15em
  margin-bottom 0px
  margin-bottom 30px

h3
  font-family 'Quicksand', sans-serif
  font-size 1.3em

p,
form label,
form input
  position relative
  margin-top 15px
  margin-bottom 10px
  font-family 'Quicksand', sans-serif
  font-weight 300
  font-size 1em
#about-us-section
  p a
    color white
#footer-contact
  p, h2
    text-align left
    margin-top 8px
    margin-bottom 5px
#footer-credits
  a
    color white
  p.developer
    text-align right
    font-size 0.6em
    margin-top 6px
    margin-bottom 4px 