@media only screen and (min-width 667px)
  div.body 
    .page-section
      section.content
        position relative
        padding 125px calc( (100% - 380px) / 2)
        width 380px
        iframe.vision-youtube
          height 220px
@media only screen and (min-width 768px)
  div.body 
    .page-section
      section.content
        position relative
        padding 150px calc( (100% - 450px) / 2)
        width 450px
        iframe.vision-youtube
          height 220px