
@media only screen and (min-width 667px)
  div.page-section > section.content
    width calc(100% - 100px)
    padding 30px
  #logo 
    left calc(100% - 150px)
    top 30px
  
  #logo img
    width 120px


@media only screen and (min-width 768px) 
  div.page-section > section.content
    padding 50px
    width calc(100% - 150px)
  #logo 
    left calc(100% - 170px)
    top 50px
  #logo img
    width 120px
  
  #intro-section > section.content
    padding-top 200px
    padding-bottom 200px

