extends layout.pug
block content
    - var p = pages.Home;
    div.body
      div.page-section#intro-section
        - var section = p.sections.intro;
        include sections/intro.pug
    div.body
      div.page-section#vision-section
        - var section = p.sections.vision;
        include sections/vision.pug
    div.body
      div.page-section#value-section
        - var section = p.sections.value;
        include sections/value.pug
    div.body
      div.page-section#partners-section
        - var section = p.sections.partners;
        include sections/partners.pug
    div.body
      div.page-section#call-to-action-section
        - var section = p.sections.callToAction;
        include sections/call-to-action.pug
    div.body
      div.page-section#about-us-section
        - var section = p.sections.about;
        include sections/about-us.pug