section.content
	h1 About us
	br
	for content in section.content
		h2=content.tag
		for p in content.p
			p=p
		br
	h2=section.founders.tag
	for p in section.founders.p
		p
			a(href=p.linkedin)=p.name
include snippets/angled-line.pug