section.content
	form
		fieldset(name="contact").text-input
			label(for="name") Name*:
			input(type="text" name="name")
			label(for="email") Email Adress*:
			input(type="text" name="email")
			label(for="phone") Phone Number:
			input(type="text" name="phone")
			label(for="corporation") Corporation:
			input(type="text" name="corporation")
		p Area of Interest:
		fieldset(name="area-of-interest")
			input(type="radio" checked name="purpose" value="information")
			label(for="information") I want to try The Fighting Simulator
			br
			input(type="radio" name="purpose" value="work")
			label(for="work") I want to get in touch
		fieldset
			input(type="button" onclick="script.post();" value="Send")
- var nextColor = "rgba(255,0,0,0.8)";
include snippets/arrow-down.pug
