section.content
	h1=section.h1
	h2=section.caption
	button(onclick="script.nav.goTo('#call-to-action-section');")=section.callToAction
- var nextColor = "rgba(255,0,0,0.8)";
include snippets/arrow-down.pug