section.content
	form(action="" method="get")
		fieldset.text-input
			label(for="name") Name*:
			input(type="text" name="firstName")
		fieldset.text-input
			label(for="corporation") Corporation:
			input(type="text" name="corporation")
		fieldset.text-input
			label(for="email") Email Adress:
			input(type="text" name="email")
		p Area of Interest:
		fieldset
			input(type="radio" name="purpose" value="information")
			| I want more information about the app
			br
			input(type="radio" name="purpose" value="work")
			| I want to work for Fighting Tech
			br
			input(type="radio" name="purpose" value="investments")
			| I'm looking for investments opportunities
		fieldset
			input(type="button" value="Send")
- var nextColor = "rgb(255,51,51)";
include snippets/arrow-down.pug
