section.content
	ul
		for prop in section.propositions
			li
				div.prop-img
					img(src=prop.graphic alt=prop.title+" image")
				div
					h1=prop.title
					p=prop.text
- var nextColor = "#0b35d1"
include snippets/arrow-down.pug
